html, body {
  height: 100%;
  background-color: black;
  color: white;
  font-family: 'Open Sans';
}

.image_credit {
  display: flex;
  justify-content: flex-end;
  opacity: 0.6;
}

span {
  padding: 25px 0px 25px 200px;
  display: block;
  font-size: 2rem;
}

p {
  padding-left: 200px;
}

i {
  font-style: italic;
}

.anchor {
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#logo img {
  height: 45px;
  width: auto;
}
/* Navigation Bar */
.navbar {
  color: white;
  opacity: 0.8;
}

.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 160px;
}

.navbar-fixed-left .navbar-nav > li > a > i {
  float: none;  /* Cancel default li float: left */
  padding-right: 20px;
}

.navbar-fixed-top .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 160px;
}

.navbar-fixed-top .navbar-nav > li > a > i {
  float: none;  /* Cancel default li float: left */
  padding-right: 20px;
}


@media only screen and (min-width: 790px) {
  #mobile_nav {
    display: none;
  }
}

@media only screen and (max-width: 790px) {
  #desktop_nav {
    display: none;
  }

  #logo img {
    height: 45px;
    width: auto;
    padding-left: 20px;
  }

  .navbar {
    opacity: 1;
  }

  #mobile_nav h2 {
    padding-left: 10px;
  }

  #mobile_nav span {
    padding: 0;
    font-size: 1rem;
  }

  .navbar-fixed-top .navbar-nav > a {
    display: inline-block;
    color: white;
    padding: 0px 5px;
  }

  .navbar-fixed-top .navbar-nav > a > i {
    display: block;
  }

}


/* Jumbotron */
.jumbotron {
  color: white;
  /* text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: left;
  background-image: url("../images/AO_jumbotron.jpg");*/
  background-origin: content-box;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  /* background-size: contain; */
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.jumbo_text {
  background-color: rgba(0,0,0,0.6);
  margin-left: 250px;
  border-radius: 25px;
  transform: skew(-10deg);
  max-width: 65%
}

.jumbo_text h3 {
  font-family: 'Bitter';
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-weight: bold;
  transform: skew(10deg);
  padding: 2em;
  padding-right: 1em;
  /*background-color: rgba(0,0,0,0.7);*/
  background-clip: content-box;
}

@media only screen and (max-width: 790px) {
  .jumbotron {
    color: white;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url("../images/AO_jumbotron_mobile.jpg");*/
    background-position: center;
    background-attachment: scroll;
    background-size: 100%;
    text-align: center;
    background-size: cover;
    overflow-y: scroll;
  }

  .jumbo_text {
    background-color: rgba(0,0,0,0.6);
    border-radius: 25px;
    transform: skew(0deg);
    margin: auto;
    margin-top: 50px;
    width:100%;
  }

  .jumbo_text h3 {
    padding-top: 50px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    transform: skew(0deg);
    padding: 0;
    font-size: 15px;
    font-weight: normal;
    padding: 0.5em;
  }
}

/* About Me */
.about_me {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: left;
  background-image: url("../images/About_Me_background.jpeg");*/
  background-origin: content-box;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden;
}

 .about_me_content {
  display: block;
  font-size: 1.5rem;
  margin: auto;
  margin-left: 250px;
  width:60%;
  height:90%;
}

.about_me_content img {
  display:block;
  margin:auto;
  padding: 1em;
  background-color: rgba(85,107,47,0.8);
  border-radius: 10px;
}

.about_me_text {
  margin: auto;
  background-color: rgba(85,107,47,0.6);
  margin-top: 3em;
  border-radius: 10px;
}

.about_me_text p {
  font-family: "Bitter";
  background-color: rgba(85,107,47,0.6);
  padding: 0.5em;
  border-radius: 10px;
}

@media only screen and (max-width: 1500px) {
  #about_me span {
    padding: 0px 200px;
    padding-top: 50px;
    display: block;
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 1170px) {
  #about_me {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: left;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
  }
}

@media only screen and (max-width: 790px) {
  #about_me {
    text-align: left;
    background-image: url("../images/About_Me_background_mobile.jpeg");
    overflow-y: scroll;
  }

  #about_me span {
    padding: 0;
    padding-top: 10px;
    display: block;
    font-size: 1.5rem;
  }

  .about_me_content {
   display: block;
   font-size: 1.2rem;
   margin: auto;
   width:90%;
   height:90%;
 }
}

/* CV */
#cv {
  text-align: center;
  background-image: url("../images/max-mckinnon-41529.jpg");*/
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#cv .container-fluid {
  margin-left: 200px;
}

#cv .carousel {
  height: auto;
  width: 60%;
  margin: auto;
}



/*#cv::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#cv::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

#cv::-webkit-scrollbar-thumb {
	border-radius: 40px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}*/

#cv .image-container {

}

#cv .image-container img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 790px) {
  #cv {
    display: none;
  }
}

/* Publications */
#publications {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: left;
  background-image: url("../images/greg-rakozy-53292.jpg");*/
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: hidden;
}

#publications h1 {
  padding: 0px 0px 50px 200px;
}

#publications a {
  color: white;
}

#publications p {
  padding-top: 75px;
}

@media only screen and (max-width: 1500px) {
  #publications h1 {
    padding: 0px 0px 20px 200px;
  }
  #publications span {
    padding: 0px 200px;
    padding-top: 25px;
    display: block;
    font-size: 1.75rem;
    width: 100%;
  }
}

@media only screen and (max-width: 1170px) {
  #publications h1 {
    padding: 0px 0px 20px 200px;
  }
  #publications span {
    padding: 0px 200px;
    padding-top: 20px;
    display: block;
    font-size: 1.55rem;
    width: 100%;
  }
}

@media only screen and (max-width: 790px) {
  #publications {
    max-width: 100%;
    /*background-repeat: repeat-y;
    overflow: hidden;*/
    overflow-y: scroll;
  }

  #publications h1 {
    padding-bottom: 10px;
    padding-left: 0;
  }
  #publications span {
    padding: 0;
    padding-top: 10px;
    display: block;
    font-size: 1.25rem;
    width: 100%;
  }
}

@media only screen and (max-height: 590px) {
  .jumbotron {
    overflow-y: hidden;
  }

  .about_me {
    overflow-y: hidden;
  }

  #publications {
    overflow-y: hidden;
  }
}
