html, body {
  height: 100%;
}


/* Navigation Bar */
.navbar {
  color:white;
  opacity: 0.8;
}

.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  /* float: none;  /* Cancel default li float: left */
  width: 160px;
}

.navbar-fixed-left .navbar-nav > li > a > i{
  /* float: none;  /* Cancel default li float: left */
  padding-right: 20px;
}

/* Jumbotron */
.jumbotron {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: left;
  background-image: url("../images/jumbotron_background_reduced.jpg");*/
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron h1 {
  font-family: 'Roboto';
  padding-left: 250px;
}

/* About Me */
#about_me {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: left;
  background-image: url("../images/nasa-45068.jpg");*/
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#about_me .container-fluid {

}

#about_me span {
  padding: 0px 200px;
  padding-top: 100px;
  display: block;
  font-size: 2.5rem;
}

#about_me .image_credit {
  display: flex;
  justify-content: flex-end;
}


/* CV */
#cv {
  height: 1000px;
  margin-left: 120px;
}

#cv .image-container{
  margin-bottom: -300px;
}
