/* Navigation Bar */
.navbar {
  color:white;
  opacity: 0.8;
}

.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  /* float: none;  /* Cancel default li float: left */
  width: 160px;
}

.navbar-fixed-left .navbar-nav > li > a > i{
  /* float: none;  /* Cancel default li float: left */
  padding-right: 20px;
}

/* Jumbotron */
.jumbotron {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  height: 1000px;
  width: 100%;
  text-align: center;
  background-image: url("../images/jumbotron_background.JPG");*/
  background-position: center;
  background-size: cover;
}
